#WebSocket server arguments
HOST = "localhost"
PORT = 5000

# print all log messages to stdout and don't upload the log to OPC
DEBUG_MODE = False

#OnPointCoding stuff
USE_OPC = False
OPC_TIMEOUT = 5
OPC_ID = "0"
OPC_SECRET = "secret"

# the character a message must start with to be interpreted by the bot
PREFIX = '.'

BOT_OWNER = 345587926681518080
LEADERBOARD_PAGE_SIZE = 20
MAX_FOUND_LIST_SIZE = 20
MAX_UNCLAIMED_LIST_SIZE = 20
MAX_CLAIMED_LIST_SIZE = 20
MAX_CLAIMS_PER_PLAYER = 3

TAKE_TIMEOUT = 60
TAKE_REACT = "\u26D4"

# how many people need to agree to use !detonate. Does not apply to the bot owner nor DMs
DETONATE_APPROVAL = 3
DETONATE_TIMEOUT = 60
DETONATE_REACT = "\U0001F4A5"
